@model DUNWorkflow.Models.GuideData

<div class="card">
    <div class="card-header">
        <span>@Model.CodeNumber</span>
        <h3>@Model.Header</h3>
        <span>@Model.RulebookText</span>
    </div>
    <div class="card-body">
        @if (Model.Options != null && Model.Options.Any())
        {
            <ul>
                @foreach (var option in Model.Options)
                {
                    <li>
                        @if (!string.IsNullOrEmpty(option.OptionLabel))
                        {
                            <strong>@option.OptionLabel:</strong>
                        }
                        @option.RulebookText       
                        <span>@option.OptionText</span>
                        <a href="#" class="pill-link load-card" data-next-code="@option.NextCodeNumber">
                            @option.NextCodeNumber
                        </a>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>@Model.RulebookText</p>
        }
    </div>
    <div class="card-footer">
        <a href="#" id="btn-volver" class="material-icons pill-link">arrow_back</a>
    </div>

</div>
